ultralytics
numpy<1.24
cython
cython_bbox
torch>=1.7
opencv-python
loguru
scikit-image
tqdm
torchvision>=0.10.0
Pillow
thop
ninja
tabulate
tensorboard
onemetric
loguru
lapx
thop
supervision
motmetrics
filterpy
h5py
pymongo
screeninfo